
html
  head
    meta( charset="UTF-8" )
  body
    h1 Hi! Time to update your water meter
    p We have entered a new reading into the city system
    h4 Meter # :
      |= meter.meterNumber
    h4 Reading :
      |= reading.readingString
