
html
  head
    meta( charset="UTF-8" )
  body
    h1 Hi! Time to update your water meter
    a(clicktracking='off' href= 'https://' + hostUrl + '/Meter/reminder/' + reminder.accessCode + '/New-Reading')
      | Click Here
