extends layout

block content
  h1 Citations
  p.lead Thank you to all of our fellow makers. Be they: designers, developers, artists, and more.
  hr
  .row
    .col-sm-6

ul
 li Drop Icon/Logo Created By Genius Icons from Noun Project
