extends layout

block content
  h1 H2-GO
  p.lead Meter reading for the 21st century
  hr
  .row
    .col-sm-12
      H2 How to enter a meter reading like a digital native
      ol
        li Sign In
        li Add your meter number from your meter reading card.
        li Get a reminder email when it's time for a new reading.
        li Click the link in your email and enter your reading.
        li Let us call the city for you and enter your reading.
        li You even get an email with a recording of the call to confirm your reading was entered correctly.
  .row
    .col-sm-6
      h2 Zero to MVP in Two Days
      p Believe it or not, this entire website was built in a little under two days. Norima's Innovation Team specializes in turning ideas into MVPs as quickly as possible.
      p Visit our website to see our other projects.
      p
        a.btn.btn-default(href='http://www.norimainnovations.com/', role='button', target='_blank') Norima Innovations »
    .col-sm-6
      h2 Next Steps
      p We have some big plans for the project. If this idea proves to be meaningful to Winnipeggers, we plan to add a few features.
      ul
       li Take a photo with your smart phone, and have the reading entered automatically.
       li Monitor your home water usage with personal graphs.
       li Customize reminder schedules so you can report as often or little as you wish.
       li Better checking of results from the City of Winnipeg phone system to ensure accuracy.

      a.btn.btn-default(href='mailto:casey.forsyth@norimaconsulting.com', role='button') Email us your ideas »
