extends layout

block content
  h1 H2-GO
  p.lead Meter reading for the 21st century
  hr
  .row
    .col-sm-6
      h2 Zero to MVP in Two days
      p Believe it or not this whole website was built in a little under two days. Norima's innovation team specializes in turning ideas to MVPs as fast as possible.
      p You dream it, we build it.
      p Visit our website to see our other projects
      p
        a.btn.btn-default(href='http://www.norimainnovations.com/', role='button', target='_blank') Norima Innovations »
    .col-sm-6
      h2 Next Steps
      p We have some big plans for the project. If this ideas proves to mean meaningful to Winnipegers we plan on adding a few features.
      ul
       li Take a photo with your smart phone and have the reading entered automatically.
       li Monitor your home water usage with personal graphs
       li Custom reminder schedules so you can report as often or  little as you wish
       li Better checking of results from the city phone system to ensure accuracy        p
      a.btn.btn-default(href='mailto:casey.forsyth@norimaconsulting.com', role='button') Email us your ideas »
