extends layout

block content
  h1 Add a meter Reading
  p.lead= meter.meterNumber
  hr
  .row
    .col-md-offset-2.col-md-8
      .form-group
          label(for='meterNumberInput') Reading Value
          br
          |Enter each number on your meter without the decimel place.
          input#meterIDInput.form-control(type='hidden', value=meter._id)
          if reminderToken
            input#reminderTokenInput.form-control(type='hidden', value=reminderToken)


          input#meterReadingInput.form-control(maxlength="6" type='text' placeholder='Reading Value')



          .alert.hidden.alert-danger.submitNewMeterError(role='alert')
            strong Oh Snap !
            br
            span There was a problem, eh?
          submit.btn.btn-primary.preConfirm(href='#')
            i.fa.fa-tachometer.fa-lg
            |  Send
          br
          span.hidden#confirmSend()
            h3 Are you sure?

            p Your reading is:
              | 
              strong
                span#readingConfirmText

            p Pressing send will attempt to submit your meter reading to the City of Winnipeg.
            p When completed we will send an email to your email address. To ensure your reading was entered successfully please listen to the audio file linked in said email and check that the reading was entered correctly.
            p We provide this service with no guarantees and by clicking send you acknowledge that you can not hold H2-GO or Norima Consulting responsible for any consequences of missing or inaccurate meter readings.
            p This website is not endorsed or officially recognized by the City of Winnipeg.
            submit.btn.btn-success.saveReading(href='#')
              i.fa.fa-tachometer.fa-lg
              |  Confirm

block scripts
  script(src='/js/addReading.js')
