Response
  Pause( length='5')
  Say Hello this is an automated entry
  Say Selecting English
  Play( digits="wwww1wwww" )
  Say Entering Meter Number
  each val in meterNumberArr
    Say= val
    Play( digits="ww"+val+"ww" )
  Say Pound
  Play( digits="wwww#wwwwwwwwww" )

  Say Entering Reading


  each val in readingStringArr
    Say= val
    Play( digits="ww"+val+"ww" )
  Say= Pound
  Play( digits="ww#" )



  Say Done!
