Response
  Pause( length='5')
  Say Hello this is an automated entry
  Say Entering Meter Number
  each val in meterNumberArr
    Say= val
    Play( digits="ww"+val )
  Say= Pound
  Play( digits="ww#" )

  each val in readingStringArr
    Say= val
    Play( digits="ww"+val )
  Say= Pound
  Play( digits="ww#" )



  Say Done!
