Response
  Pause( length='5')
  Say Hello this is an automated entry
  Say Selecting English
  Play( digits="wwww1wwww" )
  Say Entering Meter Number
  each val in meterNumberArr
    Say= val
    Play( digits="wwww"+val+"wwww" )
  Say= Pound
  Play( digits="ww#" )

  Say Entering Reading


  each val in readingStringArr
    Say= val
    Play( digits="wwww"+val+"wwww" )
  Say= Pound
  Play( digits="ww#" )



  Say Done!
